<!-- Daniel Lemmons -->

<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="TestSite.css">
  <title>Twitter Analytics</title>
</head>

<body>

<div class="shadowbox">
  <h1>Welcome to Wales Web App!</h1>
  <p> Enter A Word you would like Twitter Trend data on!</p>

<form action="" method="get">
  <label for="q">Trend Word:</label>
  <input type="text" id="tweetbox" name="tweetbox">
  <input type="submit" value="Submit">
</form>

<p></p>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="http://www.twitter.com" class="fa fa-twitter"></a>

<p></p>

<h1> Place for Graph goes here!</h1>

</div>

</body>

</html>